# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
.venv/
env/
ENV/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode
.vscode/

# Backup files
*.bak
*.swp

# OS-specific
desktop.ini

# Large files
*.zip
*.tar
*.tar.gz
